export(cleanup)
export(opencpu)
export(rhttpd)
import(parallel)
import(stats)
import(tools)
import(utils)
importFrom(brew,brew)
importFrom(devtools,install_github)
importFrom(evaluate,evaluate)
importFrom(httpuv,runServer)
importFrom(httr,add_headers)
importFrom(httr,GET)
importFrom(httr,stop_for_status)
importFrom(knitr,knit)
importFrom(knitr,pandoc)
importFrom(pander,pander)
importFrom(RJSONIO,fromJSON)
importFrom(RJSONIO,isValidJSON)
importFrom(RJSONIO,toJSON)
S3method(print,opencpu)
S3method(print,rhttpd)
