body {
  padding-top: 60px; 
}

#allparameters {
  display: none;
}

#ajaxspinner {
  display: none;
}

#urlvalue {
	width: 400px;
}

#outputpre {
  min-height: 350px;
}

#headerpre {
  min-height: 100px;
}
