@media (min-width: 979px){
  #maincontainer {
    padding-top: 60px; 
  }
}

@media (min-width: 979px) and (max-width: 1200px) {
  #urlwrapper {
    margin-left: 50px; 
  }
  .fakeinputname{
    width: 120px;
  }
  .realinputvalue{
    width: 220px;
  }  
}

@media (min-width: 768px) and (max-width: 979px) {
  #urlwrapper {
    margin-top: 75px;
    margin-left: -43px;
  }
  .fakeinputname{
    width: 80px;
  }
  .realinputvalue{
    width: 160px;
  }  
}

#allparameters {
  display: none;
}

#ajaxspinner {
  display: none;
}

@media (min-width: 1200px){
  #urlvalue {
    width: 400px;
  }  
}

#outputpre {
  min-height: 350px;
  font-size: 85%;
}

#headerpre {
  min-height: 100px;
  font-size: 85%;  
}
